.NoteCardListBackground{

}

.ToDoNotes{

}

.NotesCards{
    margin: 10px;
    padding: 20px;
    align-content: center;
    width: 20vw;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 20px;
    transition: 0.4s all;
}